src/main/mule/q26.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="900482df-1d5e-4349-9d94-121b497cf24f" >
		<http:listener-connection host="0.0.0.0" port="8082" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="c8a66885-ac34-4ea4-8586-5af8a4a1fcac" >
		<http:request-connection host="localhost" port="8081" connectionIdleTimeout="150000000"/>
	</http:request-config>
	<flow name="q26Flow" doc:id="cf36a83a-3f33-47b7-985c-72744e585b0a" >
		<http:listener doc:name="Listener" doc:id="f1dd8b2f-4bbf-4cb7-a9b0-a0819511e464" config-ref="HTTP_Listener_config" path="/painos" allowedMethods="GET"/>
		<set-payload value='#["pianoPidigree"]' doc:name="Set Payload" doc:id="03064eff-37f1-4620-88d5-5a2d46846051" />
		<set-variable value='producer' doc:name="producer" doc:id="2e733a8b-150c-4203-a3d9-b3c4824b24ae" variableName="pianoPidigree"/>
		<http:request method="POST" doc:name="Request" doc:id="c7f383fb-41d6-4206-8e32-b6cfd239256a" config-ref="HTTP_Request_configuration" path="/child"/>
		<logger level="INFO" doc:name="Logger" doc:id="56270b85-33a3-4dbc-8238-33a85e1562f4" message="#[payload]   #[vars.pianoPidigree]    #[attributes.queryParams]"/>
	</flow>
	<flow name="child" doc:id="7bcc3fae-0df0-460c-bc5a-0dcc33654216" >
		<http:listener doc:name="Listener" doc:id="fb44fe0a-7166-4ba2-91aa-8a8d00aade91" config-ref="HTTP_Listener_config" path="/childs"/>
		<logger level="INFO" doc:name="Logger" doc:id="ddd5faeb-6e08-4df4-b746-8d1d1192a329" message="#[payload]   #[vars.pianoPidigree]    #[attributes.queryParams]"/>
	</flow>
</mule>
